.contato-container {
  background: #1f1f1f;
  position: relative;
  color: #f8f8f8;
}

.contato-titulo {
  font-size: 8rem;
  justify-self: center;
  text-transform: uppercase;
  grid-row: 1;
  grid-column: 2;
}

.contato-texto {
  font-size: 1.25rem;
  width: 48ch;
  grid-row: 2;
  grid-column: 2;
  justify-self: start;
  align-self: center;
  justify-self: center;
  line-height: 1.3;
}

.contato-lista {
  grid-row: 1 / 3;
  grid-column: 1;
  align-self: center;
  justify-self: center;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2;
}

.contato-lista li {
  list-style: none;
}

.contato-container::before {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 50px;
  background: rgb(0, 143, 19);
  border-radius: 50px 0px;
  box-shadow: 2px 3px 5px #1f1f1f;
  rotate: -15deg;
  right: 40px;
  top: 10px;
}
.contato::before {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 50px;
  background: rgb(0, 189, 25);
  border-radius: 50px 0px;
  box-shadow: 2px 3px 5px #1f1f1f;
  rotate: -20deg;
  right: 35px;
  top: -35px;
}
