.header-container {
  background: #000000ea;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  color: #f8f8f8;
  width: 1440px;
  margin: auto;
}

.header-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
}

.header-lista a {
  color: #f8f8f8;
  text-decoration: none;
  text-transform: uppercase;
}

.logo {
  font-size: 2.5rem;
  text-transform: uppercase;
}
